<div class="container">
  <div class="text-center">
    <h1><strong>暇つぶし脳トレサイト</strong></h1>
    <% if logged_in? %>
      <h2>投稿フォーム</h2>
      <%= form_for(@micropost, url: post_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <%= f.label :質問 %>
          <%= f.text_field :question, class: "form-control", placeholder: "質問はこちら" %>
        </div>
        <div class="form-group">
          <%= f.label :回答 %>
          <%= f.text_field :answer, class: "form-control", placeholder: "回答はこちら" %>
        </div>
        <div class="form-group">
          <%= f.submit "投稿", class: "btn btn-outline-info btn-block" %>
        </div>
      <% end %>
      <h2>全ての投稿(<%= @microposts.all.count %>)</h2>
      <ul class="list-group">
        <%= render 'microposts/micropost' %>
      </ul>
    <% else %>
      <h4>あなたの投稿した質問と回答が表示されます！</h4>
      <h4><%= link_to "ログイン", login_path %>して早速使ってみよう！</h4>
      <h4>空き時間を使って賢くなろう！</h4>
    <% end %>
  </div>
</div>
