<% @microposts.each do |micropost| %>
  <div class="pt-3 h4">
    投稿者:<%= micropost.user.name %> |
    <% if current_user?(@user) %>
    <%= link_to "Delete", "/users/#{current_user.id}", method: :delete, data: { confirm: "削除しますか？"}, class: "h5" %>
    <% end %>
    <li class="list-group-item h4">
      質問:<%= micropost.question %><br>
      <button type="button" class="btn btn-outline-info mt-2 btn-block" data-toggle="collapse" data-target="#<%= micropost.id %>">
        答えはこちら
      </button>
      <div id="<%= micropost.id %>" class="collapse pt-3">
        回答:<%= micropost.answer %>
      </div>
    </li>
  </div>
<% end %>
