<% @microposts.each do |micropost| %>
  <div class="pt-3 h4">
    投稿者:<%= micropost.user.name %>
    <% if current_user?(micropost.user) %>
    <%= link_to "User Delete", "/users/#{current_user.id}", method: :delete, data: { confirm: "削除しますか？"}, class: "btn btn-sm btn-outline-info" %>
    <% end %>
    <li class="list-group-item h4">
      質問:<%= micropost.question %>
      <% if current_user?(micropost.user) %>
      <%= link_to "Post Delete", "/post/#{micropost.id}", method: :delete, data: { confirm: "削除しますか？"}, class: "btn btn-sm btn-outline-info" %>
      <% end %>
      <% if favorite?(current_user, micropost) %>
        <%= link_to "お気に入り済み", "/favorites/#{micropost.id}", method: :delete, class: "btn btn-sm btn-outline-danger" %>
      <% else %>
        <%= link_to "お気に入り", "/favorites/#{micropost.id}", method: :post, class: "btn btn-sm btn-outline-danger" %>
      <% end %>
      <br>
      <button type="button" class="btn btn-outline-info mt-2 btn-block" data-toggle="collapse" data-target="#<%= micropost.id %>">
        答えはこちら
      </button>
      <div id="<%= micropost.id %>" class="collapse pt-3">
        回答:<%= micropost.answer %>
      </div>
    </li>
  </div>
<% end %>
