<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <%= link_to root_path do %>
      <i class="fa fa-home fa-2x" style="color:#ffffff;"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <%= link_to "トップページ",   root_path, class: "nav-link active text-white" %>
        <li class="nav-item">
          <%= link_to "サイトについて",   about_path, class: "nav-link active text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "困ったら",   help_path, class: "nav-link active text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "お問い合わせ", contact_path, class: "nav-link active text-white" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "ユーザー詳細", "/users/#{current_user.id}", class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "全てのユーザー", users_path, class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link active text-white" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "会員登録", signup_path, class: "nav-link active text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", login_path, class: "nav-link active text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
